#lsm-slot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: min-content;
  align-content: flex-start;
  margin: 10px;
}

.lsm-results {
  display: flex;
  justify-content: flex-start;
}

.lsm-slot {
  width: 200px;
  height: 50px;
  overflow: hidden;
  border: 2px solid dimgray;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: grayscale(1);
  animation: fadeIn 0.2s;
}

.lsm-slot-pickable {
  cursor: pointer;
}

.lsm-slot-pickable:hover {
  filter: brightness(0.8);
}

.lsm-slot-locked {
  cursor: not-allowed;
  filter: brightness(0.5);
}

.lsm-item-display {
  display: flex;
  gap: 10px;
  border: 1px solid dimgray;
  border-radius: 1%;
  backdrop-filter: grayscale(1);
  padding: 10px;
  margin: 10px;
  animation: fadeIn 0.5s;
}

.lsm-item-img {
  width: 50px;
  height: 50px;
}

.lsm-item-info {
  border-left: 1px solid gray;
  padding-left: 10px;
}

.lsm-selections {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin: 10px 0;
}

.lsm-selections select {
  margin-right: 10px;
}

.lsm-selections #lsm-roll-button {
  width: 100px;
  margin-left: auto;
}

.lsm-slot-popup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 400px;
  animation: fadeIn 0.2s;
}

.lsm-slot-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: opacity 0.5s;
  opacity: 0;
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    display: flex;
    opacity: 0; /* Fully transparent at start and end */
  }
  50% {
    display: none;
    opacity: 1; /* Fully visible at the midpoint */
  }
}

#confetti {
  z-index: 1000;
  pointer-events: none;
}
