#lsm-slot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.lsm-slot {
  width: 200px;
  height: 50px;
  overflow: hidden;
  border: 2px solid dimgray;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: grayscale(1);
}

.lsm-slot-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  transition: transform 0.5s ease-out;
}

.lsm-slot-pickable {
  cursor: pointer;
}

.lsm-slot-pickable:hover {
  filter: brightness(0.8);
}

.lsm-slot-locked {
  cursor: not-allowed;
  filter: brightness(0.5);
}

.lsm-item-display {
  display: flex;
  gap: 10px;
  border: 1px solid dimgray;
  border-radius: 1%;
  backdrop-filter: grayscale(1);
  padding: 10px;
  margin: 10px;
}

.lsm-item-img {
  width: 50px;
  height: 50px;
}

.lsm-item-info {
  border-left: 1px solid gray;
  padding-left: 10px;
}

.lsm-selections {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin: 10px 0;
}

.lsm-selections select {
  margin-right: 10px;
}

.lsm-selections #lsm-roll-button {
  width: 100px;
  margin-left: auto;
}
