<div class="table-roller {{#unless showSelections}}result-window{{/unless}}">
  {{#if showSelections}}
    <h3>Choose your luck</h3>
    <div class="lsm-selections">
      <label for="lsm-select-quality">Quality:</label>
      <select id="lsm-select-quality">
        <option value="Minor">Minor</option>
        <option value="Lesser">Lesser</option>
        <option value="Moderate">Moderate</option>
        <option value="Greater">Greater</option>
        <option value="Major">Major</option>
      </select>
      <label for="lsm-select-preset">Preset:</label>
      <select id="lsm-select-preset"></select>
      <label for="lsm-select-loot">Item:</label>
      <select id="lsm-select-loot">
        <option value="Random">Random</option>
      </select>
      <button id="lsm-roll-button">Roll</button>
    </div>
  {{else}}
    <h3>{{roller}} rolled...</h3>
  {{/if}}
  <div class="lsm-results">
    <div id="lsm-slot-container"></div>
    <div id="lsm-item-container"></div>
  </div>
</div>